/* ==========================================================================
   Breakpoints
   ========================================================================== */
.about {
  margin-top: 100px;
  font-size: 3.5vw;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 1024px) {
    .about {
      display: block;
      font-size: 8vw; } }
  .about h1 {
    font-weight: normal;
    font-size: 3.5vw;
    text-transform: uppercase; }
    @media (max-width: 1024px) {
      .about h1 {
        font-size: 8vw; } }
  .about p {
    font-size: 2vw;
    line-height: 3.5vw; }
    @media (max-width: 1024px) {
      .about p {
        font-size: 8vw;
        line-height: 10vw; } }
    .about p a {
      text-decoration: underline; }
  .about ul {
    width: 45.7vw;
    padding: 0;
    font-size: 2vw;
    line-height: 3.5vw; }
    @media (max-width: 1024px) {
      .about ul {
        width: auto;
        font-size: 8vw;
        line-height: 10vw; } }
    .about ul li {
      display: inline; }
      .about ul li:after {
        content: ", "; }
      .about ul li:last-of-type:after {
        content: ""; }
