@import '_breakpoints.scss';
@import '_colors.scss';

.app {
  padding: 3vw;
  color: $primary;
  min-height: calc(100vh - 6vw);

  ::selection {
    background: rgba(255,0,66,.99);
  }

  &::-moz-selection {
    background: #ef153d;
  }

  @include breakpoint(device) {
    padding: 5vw;
  }

  a {
    color: $primary;
    text-decoration: none;

    &:hover {
      color: $secondary;
    }
  }

  &.night {
    background: black;
    color: white;

    a {
      color: white;
    }

    figure {
      border-color: white;

      &.Website {
        img {
          border-color: white;
        }

        &:before {
          background: url(../images/web-buttons-night.svg) no-repeat;
          background-size: 100%;
        }
      }

      &.Logo, &.Design, &.Photography {
        &:before {
          border-color: white;
        }
      }
    }
  }
}
