/* ==========================================================================
   Breakpoints
   ========================================================================== */
.app {
  padding: 3vw;
  color: black;
  min-height: calc(100vh - 6vw); }
  .app ::selection {
    background: rgba(255, 0, 66, 0.99); }
  .app::-moz-selection {
    background: #ef153d; }
  @media (max-width: 1024px) {
    .app {
      padding: 5vw; } }
  .app a {
    color: black;
    text-decoration: none; }
    .app a:hover {
      color: #ff0664; }
  .app.night {
    background: black;
    color: white; }
    .app.night a {
      color: white; }
      .app.night a:hover {
        color: #ff0664; }
    .app.night figure {
      border-color: white; }
      .app.night figure.Website img {
        border-color: white; }
      .app.night figure.Website:before {
        background: url(../images/web-buttons-night.svg) no-repeat;
        background-size: 100%; }
      .app.night figure.Logo:before, .app.night figure.Design:before, .app.night figure.Photography:before {
        border-color: white; }
    .app.night footer {
      color: white; }
