@import '_breakpoints.scss';
@import '_colors.scss';

footer {
  font-size: 3vw;
  text-align: center;
  color: $primary;
  letter-spacing: 1vw;

  @include breakpoint(device) {
    font-size: 8vw;
  }
}
