/* ==========================================================================
   Breakpoints
   ========================================================================== */
header {
  font-size: 3vw; }
  @media (max-width: 1024px) {
    header {
      font-size: 8vw; } }
  header .site-title {
    text-transform: uppercase;
    margin-bottom: 30px; }
    @media (max-width: 1024px) {
      header .site-title {
        text-align: center; } }
  header .sub-header {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 1024px) {
      header .sub-header {
        flex-direction: column; } }
    header .sub-header .sub-header-column {
      width: 21.5vw; }
      @media (max-width: 1024px) {
        header .sub-header .sub-header-column {
          width: 35vw;
          flex-direction: column; }
          header .sub-header .sub-header-column:nth-of-type(2n) {
            align-self: flex-end; } }
      @media (min-width: 1081px) {
        header .sub-header .sub-header-column:first-of-type:after {
          content: "\25D0";
          display: block;
          margin-top: .5em;
          font-size: 3vw; }
        header .sub-header .sub-header-column:nth-of-type(2):after {
          content: "\25D3";
          display: block;
          margin-top: .5em;
          font-size: 3vw; }
        header .sub-header .sub-header-column:nth-of-type(3):after {
          content: "\25D1";
          display: block;
          margin-top: .5em;
          font-size: 3vw; }
        header .sub-header .sub-header-column:nth-of-type(4):after {
          content: "\25D2";
          display: block;
          margin-top: .5em;
          font-size: 3vw; } }
