/* ==========================================================================
   Breakpoints
   ========================================================================== */
.postFeed {
  margin-top: 100px; }
  .postFeed .post {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px; }
    .postFeed .post figure {
      width: 45.7vw;
      padding: 0;
      margin: 0;
      font-size: 0;
      position: relative;
      border: 2px solid black; }
      .postFeed .post figure.Logo {
        margin-top: 30px; }
        .postFeed .post figure.Logo:before {
          content: "";
          position: absolute;
          top: -30px;
          width: 90%;
          height: 90%;
          left: 5%;
          border: 2px solid black;
          z-index: -1; }
      .postFeed .post figure.Website {
        padding-top: 30px; }
        .postFeed .post figure.Website img {
          border-top: 2px solid black; }
        .postFeed .post figure.Website:before {
          content: "";
          position: absolute;
          top: 10px;
          left: 10px;
          width: 50px;
          height: 10px;
          background: url(../images/web-buttons.svg) no-repeat;
          background-size: 100%; }
      .postFeed .post figure img {
        width: 100%; }
    .postFeed .post .postInfo {
      width: 45.7vw; }
      .postFeed .post .postInfo h1 {
        margin: 0 0 2vw;
        text-transform: uppercase;
        font-size: 3.5vw;
        font-weight: normal; }
      .postFeed .post .postInfo span {
        font-size: 1.5vw;
        font-family: 'Inconsolata', monospace; }
        .postFeed .post .postInfo span a {
          position: relative; }
          .postFeed .post .postInfo span a:before {
            content: '\02937';
            font-size: 30px;
            margin-right: 20px; }
      .postFeed .post .postInfo p {
        font-size: 3.55vw; }
        .postFeed .post .postInfo p a {
          font-style: italic; }
