.postFeed {
  margin-top: 100px; }
  .postFeed .post {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px; }
    .postFeed .post figure {
      width: 45.7vw;
      padding: 0;
      margin: 0;
      font-size: 0;
      position: relative;
      border: 2px solid black;
      padding-top: 30px; }
      .postFeed .post figure:before {
        content: "";
        position: absolute;
        top: 10px;
        left: 10px;
        width: 50px;
        height: 10px;
        background: url(../images/web-buttons.svg) no-repeat;
        background-size: 100%; }
      .postFeed .post figure img {
        border-top: 2px solid black;
        width: 100%; }
    .postFeed .post .postInfo {
      width: 45.7vw; }
      .postFeed .post .postInfo h1 {
        margin: 0 0 2vw;
        text-transform: uppercase;
        font-size: 3.5vw;
        font-weight: normal; }
      .postFeed .post .postInfo span {
        font-size: 1.5vw;
        font-family: 'Inconsolata', monospace; }
      .postFeed .post .postInfo p {
        font-size: 3.55vw; }
        .postFeed .post .postInfo p a {
          font-style: italic; }
