header {
  font-size: 3.75vw;

  .site-title {
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  .sub-header {
    display: flex;
    justify-content: space-between;

    .sub-header-column {
      width: 21.5vw;
    }
  }
}
