header {
  font-size: 4vw;

  .site-title {
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  .sub-header {
    display: flex;
    justify-content: space-between;

    .sub-header-column {

    }
  }
}
